<!-- the about page LMAO -->

<!-- header time yippee -->
 <a href="/">home</a>
 <a href="/about/">about</a>
 <link rel="stylesheet" href="/src/components/Styletime.css">

<body>
   <div class="history">
    <h3 id="title">History of Homelessness in California</h3>
    <p>Homelessness has existed as long as homes have existed but the problem is especially 
        prevalent in California. Homelessness emerged as a crisis in California around the 1980&apos;s 
        as a result of the federal government&apos;s decision to cut 
        the affordable housing budget. Since then, California&apos;s state budget has also made cuts 
        to social programs which made it difficult for people to make ends meet on their own. The problem boils down to an imbalance of supply and demand. A study in 2016 
        estimated that California needed 3.5 million new housing units by 2025 to solve the shortage of housing. The Covid-19 pandemic only slowed housing production, but before then, California was 
        constructing only about 100,000 new homes per year, far below the 180,000 a year they would need to produce. As a result of this shortage, housing is extremely expensive no 
        matter where or what you are buying. Rent only increases and the suburbs and city outskirts only get more expensive as more and more people try to find affordable housing. 
    </p>
   </div>
  </body>