<!-- the about page LMAO -->
 <details>
    <summary class="navbar">
        NAVBAR
    </summary>
        <a href="/" id="navelement">HOME</a>
        <a href="/about/" id="navelement">ABOUT</a>
        <a href="/solutions/" id="navelement">SOLUTIONS</a>
 </details>

<!-- header time yippee -->
 <link rel="stylesheet" href="/src/components/home.css">

<body>
   <div class="middle-align">
    <h1 id = "title2">Context</h1>
    <details>
        <summary class="dropdown">History of Homelessness in California</summary>
        <p>Homelessness has existed as long as homes have existed but the problem is especially 
            prevalent in California. Homelessness emerged as a crisis in California around the 1980&apos;s 
            as a result of the federal government&apos;s decision to cut 
            the affordable housing budget. Since then, California&apos;s state budget has also made cuts 
            to social programs which made it difficult for people to make ends meet on their own. The problem boils down to an imbalance of supply and demand. A study in 2016 
            estimated that California needed 3.5 million new housing units by 2025 to solve the shortage of housing. The Covid-19 pandemic only slowed housing production, but before then, California was 
            constructing only about 100,000 new homes per year, far below the 180,000 a year they would need to produce. As a result of this shortage, housing is extremely expensive no 
            matter where or what you are buying. Rent only increases and the suburbs and city outskirts only get more expensive as more and more people try to find affordable housing. 
        </p>
        <img src="/src/components/images/encampment.jpeg" id="BRC">
    </details>
    <details>
        <summary class="dropdown">Current Context</summary>
        <p>
            The current estimate of unhoused persons in California is 187,000 people. 
            In 2023, there were reported 71,000 emergency shelters available, less than half of what it would take to house the current population. 
            A Supreme Court decision within the last year, allows for governments to clear out homeless encampments and police those who are living on the streets. 
            Governor Gavin Newsom said in response to this ruling, &quot;This decision removes the legal ambiguities that have tied the hands of local officials for years and 
            limited their ability to deliver on common-sense measures to protect the safety and well-being of our communities&quot; &#40;Kendall, 2024&#41;. He joins other associations who 
            see this ruling as granting governments the ability to protect citizens who are housed and affected by encampments. Other issues in regards to homelessness include 
            hostile architecture. This architecture aims to prevent people from sleeping in public in front of homes and businesses as well as in public places such as parks. 
            In cities such as San Francisco, this is a major problem. There has been an uptick in large metal planters on the sidewalks preventing people from sleeping on the 
            sidewalks. This architecture arises under beautification projects aimed 
            at neighborhood improvement, but the intended or unintended consequences are preventing the encampments of people who have nowhere else to go.
        </p>
        <img src="/src/components/images/planters.jpeg" id="BRC">
        <img src="/src/components/images/planters2.jpeg" id="BRC">
    </details>
    <details>
        <summary class="dropdown">What is Hostile Architecture?</summary>
        <p>
            Hostile Architecture is defined as &quot;the design of public spaces in a way that stops unwanted behaviour, for example putting spikes &#40;pieces of metal with a sharp point&#41; 
            in doorways to stop people who have nowhere to live from sleeping there&quot; &#40;Cambridge Dictionary&#41;. 
        </p>
        <img src="/src/components/images/planters3.jpeg" id="BRC">
    </details>
    <details>
        <summary class="dropdown">Historical Efforts to Solve the Problem</summary>
        <p>
            In August of 2024, Governor Gavin Newsom signed two bills to address the homelessness crisis. 
            One bill, AB 2835, aims at making it easier for programs to place unhoused people in motels and hotels for more than 30 days, a 
            program which has proven to provide more stability to those people in search for a better life. The other, AB 3057, streamlines the process for local governments to 
            construct Junior Accessory Dwelling Units which are 500 sq. ft dwellings that are an affordable housing solution. 
        </p>
        <img src="/src/components/images/person.jpeg" id="BRC">
    </details>
   </div>
  </body>