---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon", type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/components/home.css">
		<meta name="viewport", content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
	</head>
	<body>
	<div class="background">
		
		<div class="middle-align">
				<div id="title">
					<h1> Homelessness in California </h1>
				</div>
				<div id="middle-text">
					<h3 id="information">Please click on the buttons below to access more information</h3>
				
				<div id = "buttons">
					<div id="single">
						<a href="/about/">Context</a>
					</div>
					<div id="single">
						<a href="/solutions/">Our Solutions</a>
					</div>
					<div id="single">
						<a href="https://docs.google.com/document/d/1Ih3ipjmU045REXMBIONOMeyr7dN5plXYoHZx792Z-bU/edit?usp=sharing" target="blank">
							References</a>
					</div>
				</div>
			</div>
			</div>
		
	</div>
</body>
</html>
