<!-- header time yippee -->
<a href="/">home</a>
<a href="/about/">about</a>
<link rel="stylesheet" href="/src/components/Styletime.css">

<body>
   <h1>Resources</h1>
   <button>
    
    </button>
 </body>