<!-- header time yippee -->
 <details>
    <summary class="navbar">
        NAVBAR
    </summary>
        <a href="/" id="navelement">HOME</a>
        <a href="/about/" id="navelement">ABOUT</a>
        <a href="/solutions/" id="navelement">SOLUTIONS</a>
 </details>

<link rel="stylesheet" href="/src/components/home.css">

<body>
    <div class="middle-align">
        <h1 id = "title3">Solutions to Homelessness in California</h1>
        <details>
            <summary class="dropdown">Affordable Housing</summary>
            <p>
                Affordable housing is the most obvious and best solution to preventing homelessness. 
                This would stop homelessness at one of its most prevalent causes right now which is the housing shortage which is resulting in ever-rising house prices, 
                further exacerbating the problem. Despite the fact that Governor Newsom has promised more affordable housing he has fallen short on delivering the large number 
                he promised as funds were hard to come by. Simple housing such as ADUs and JADUs will provide for the more than 150,000 unhoused people in California.
            </p>
        </details>
        <details>
            <summary class="dropdown">Social Services</summary>
            <p>
                Providing social services such as mental health support, job training, 
                and advocacy groups helps prevent people more likely to fall into homelessness because of conditions out of their control. 
                Social workers in California provide a number of services to people all over California including connecting clients to temporary or transitional 
                housing, providing rent assistance, making sure clients have access to food, referring clients to physical and mental health services, and identifying 
                training and employment programs. Increasing the funding for various social service programs around California would help with homelessness all over 
                California.
            </p>
        </details>
        <details>
            <summary class="dropdown">Petitioning the Government</summary>
            <p>
                Petitioning the government is one of the most effective ways everyday people can enact change according to their constitutional rights. <br>
                Ways you can help include:
                <em>
                <ol>
                    <li>Contacting your representatives
                        <ul>
                            <li>In the case of California anti-homelessness, state representatives of San 
                                Francisco and other major California cities where anti-homelessness laws are in practice would be good people to contact.
                            </li>
                        </ul>
                    </li>
                    <li>Voting!
                        <ul>
                            <li>Get out and vote so that your elected 
                                officials work to address homelessness at its <strong>source</strong> and not punish those who are victims of their circumstances.
                            </li>
                            <li>Rally for bills that would increase the budget for affordable housing
                            </li>
                        </ul>
                    </li>
                    <li>
                        Protesting anti-homeless architecture
                        <ul>
                            <li>
                                Boycott places that support hostile architecture to decrease their revenue
                            </li>
                        </ul>
                    </li>
                    <li>
                        Participating and/or creating anti-hostile-architecture advocacy groups
                        <ul>
                            <li>
                                With enough support, <strong>you</strong> can urge California legislature to make a difference within your hometown!
                            </li>
                        </ul>
                    </li>
                </ol>
            </em>
            </p>
        </details>
       </div>
 </body>